<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.khibar.simkesline">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".penyakit.HidungActivity"></activity>
        <activity android:name=".penyakit.MataActivity" />
        <activity android:name=".penyakit.KepalaActivity" />
<!--        <activity android:name=".menu.DetailOrganActivity" />-->
        <activity android:name=".menu.TipsSehatActivity" />
        <activity android:name=".menu.TentangActivity" />
        <activity android:name=".menu.JenisPenyakitActivity" />
<!--        <activity android:name=".aftermain.KakiActivity" />-->
<!--        <activity android:name=".aftermain.BadanActivity" />-->
<!--        <activity android:name=".aftermain.KepalaActivity" />-->
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>